page-data-glance {

  .data-glance {

    .scroll-content {
      padding: 40px !important;
    }

    background-image: url("../assets/img/home/background.jpg");
    background-size: cover;

    img {
      width: 100%;
      auto: height;
    }
  }
}
