<!--
  Generated template for the Somethingnew page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<div style="overflow-y: scroll">

  <ion-grid>
    <ion-row responsive-sm responsive-md  responsive-lg>
      <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="wizzardStep">
          <ion-segment-button value="visitor_data">
            Visitor Data
          </ion-segment-button>
          <ion-segment-button value="meetings_details">
            Meetings Details
          </ion-segment-button>
          <ion-segment-button value="required_actions">
            Required Actions
          </ion-segment-button>
          <ion-segment-button value="sample_order">
            Sample Order
          </ion-segment-button>
          <ion-segment-button value="literatur">
            Utertatur
          </ion-segment-button>
          <ion-segment-button value="role_class">
            Role & Classification
          </ion-segment-button>
          <ion-segment-button value="end_use">
            End Use
          </ion-segment-button>
          <ion-segment-button value="author_date">
            Author & Date
          </ion-segment-button>
          <ion-segment-button value="process">
            <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
          </ion-segment-button>

        </ion-segment>
      </ion-toolbar>
    </ion-row>

    <ion-row padding responsive-sm responsive-md  responsive-lg>


      <form   name="myForm" novalidate (ngSubmit)="save(myForm)">
        <div [ngSwitch]="wizzardStep">

          <div *ngSwitchCase="'visitor_data'">

            <!-- name -->
            <ion-row>
              <ion-col width-67>
                <ion-row>
                  <ion-col>
                    <ion-label>VISITOR DATA</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-100>
                    <ion-item>
                      <ion-label>Name*</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.name" name="name"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col width-50 >
                    <ion-item>
                      <ion-label>Company</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.company" name="company"></ion-input>
                    </ion-item>

                  </ion-col>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label>Dept.</ion-label>
                      <ion-input type="text"  [(ngModel)]="contentFromModel.dept" name="dept"></ion-input>
                    </ion-item>

                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col width-100>
                    <ion-item>
                      <ion-label>Adress</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.adress" name="adress"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>



                <ion-row>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label>Country</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.country" name="country"></ion-input>
                    </ion-item>

                  </ion-col>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label>Language</ion-label>
                      <ion-input type="text"  [(ngModel)]="contentFromModel.language" name="language"></ion-input>
                    </ion-item>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label>Phone</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.phone" name="phone"></ion-input>
                    </ion-item>

                  </ion-col>
                  <ion-col width-50>
                    <ion-item>
                      <ion-label>Fax</ion-label>
                      <ion-input type="text"  [(ngModel)]="contentFromModel.fax" name="fax"></ion-input>
                    </ion-item>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-100>
                    <ion-item>
                      <ion-label>Email*</ion-label>
                      <ion-input type="text" [(ngModel)]="contentFromModel.e_mail" name="e_mail"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col width-33 >
                <ion-row>
                  <ion-label>
                    SCAN BUSINESS CARD
                  </ion-label>

                </ion-row>
                <ion-row>
                  <ion-col width-50>
                    <div style="text-align: center">
                      <button ion-button icon-right outline small >
                        Renew scan
                        <ion-icon name=camera></ion-icon>
                      </button>
                    </div>
                  </ion-col>
                  <ion-col width-50>
                    <div style="text-align: center">
                      <button ion-button icon-right  outline small >
                        Delete
                        <ion-icon name="ios-trash"></ion-icon>
                      </button>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row >
                  <ion-col>
                    <div style="text-align: center">
                      <img src="assets/img/images.jpg">
                    </div>

                  </ion-col>


                </ion-row>

              </ion-col>
            </ion-row>
          </div>

          <div *ngSwitchCase="'meetings_details'">

            <ion-row>
              <ion-col>
                <ion-label>Meeting Details</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-100>
                <ion-item>
                  <ion-label stacked>Message</ion-label>
                  <ion-textarea  [(ngModel)]="contentFromModel.crm_record.details" name="details"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <div *ngSwitchCase="'required_actions'">

            <ion-row>
              <ion-col width-45 >
                <ion-item>
                  <ion-label>Activity</ion-label>
                  <ion-input type="text" [(ngModel)]="activitiesObject.activity" name="activity"></ion-input>
                </ion-item>

              </ion-col>
              <ion-col width-45>
                <ion-item>
                  <ion-label>Who?</ion-label>
                  <ion-input type="text"  [(ngModel)]="activitiesObject.who" name="who"></ion-input>
                </ion-item>

              </ion-col>
              <ion-col width-10>
                <button ion-button [disabled]="!activitiesObject.activity" icon-right outline small (click)="addActivity($event)">
                  Add
                  <ion-icon  name="ios-add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

            <ion-row  *ngFor="let act of  contentFromModel.required_action; let i=index">
              <ion-col width-45>
                <ion-item>

                  {{ act.activity }}
                </ion-item>

              </ion-col>
              <ion-col width-45>
                <ion-item>
                  {{act.who}}
                </ion-item>

              </ion-col>
              <ion-col width-10>
                <button ion-button (click)="deleteActivity(i)" outline small icon-right >
                  delete
                  <ion-icon name="ios-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>


          </div>
          <div *ngSwitchCase="'sample_order'">

            <ion-row>
              <ion-col width-45 >
                <ion-item>
                  <ion-label>Select a Product</ion-label>
                  <ion-select [(ngModel)]="ordersObject.product" name="selectOp" placeholder="Product">
                    <ion-option *ngFor="let pro of products" >{{pro.title}}</ion-option>
                  </ion-select>
                </ion-item>
                <!--
                  <ion-searchbar  [(ngModel)]="ordersObject.product" name="selection" (ionInput)="getProducts($event)"></ion-searchbar>
                  <ion-list>
                    <ion-item *ngFor="let item of products">
                      {{ item.title }}
                    </ion-item>
                  </ion-list>
                     -->

              </ion-col>
              <ion-col width-45>
                <ion-item>
                  <ion-label>Unit</ion-label>
                  <ion-select [(ngModel)]="ordersObject.unit" name="selectOp" placeholder="Unit">
                    <ion-option *ngFor="let unt of units" >{{unt.title}}</ion-option>
                  </ion-select>
                </ion-item>

              </ion-col>
              <ion-col width-10>
                <button ion-button [disabled]="(!ordersObject.unit) && (!ordersObject.product)" icon-right outline small (click)="addOrder($event)">
                  Add
                  <ion-icon  name="ios-add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

            <ion-row  *ngFor="let ord of  contentFromModel.orders; let i=index">
              <ion-col width-10>
                <ion-icon name="ios-download-outline"></ion-icon>
              </ion-col>

              <ion-col width-40>
                <ion-item>
                  {{ ord.product }}
                </ion-item>

              </ion-col>
              <ion-col width-40>
                <ion-item>
                  {{ord.unit}}
                </ion-item>

              </ion-col>
              <ion-col width-10>
                <button ion-button (click)="deleteOrder(i)" outline small icon-right >
                  delete
                  <ion-icon name="ios-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 0 ; left:0;">
              <ion-col width-100>
                <ion-item>
                  <ion-label>Order a product that is no Listed</ion-label>
                  <ion-input type="text" [(ngModel)]="contentFromModel.orderNewProduct" name="orderNewProduct"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </div>
          <!-- literatur -->
          <div *ngSwitchCase="'literatur'">
            <ion-label>Literatur</ion-label>
            <ion-row>
              <ion-col width-45>
                <ion-item>
                  <ion-label>Select a topic</ion-label>
                  <ion-select [(ngModel)]="literaturObject.topic" name="selectTopic" placeholder="topic">
                    <ion-option *ngFor="let pro of products" >{{pro.title}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col width-10>
                <button ion-button [disabled]="(!literaturObject.topic)" icon-right outline small (click)="addLiteratur($event)">
                  Add
                  <ion-icon  name="ios-add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

            <ion-row  *ngFor="let lit of  contentFromModel.literatur; let i=index">
              <ion-col width-10>
                <ion-icon name="ios-download-outline"></ion-icon>
              </ion-col>

              <ion-col width-40>
                <ion-item>
                  {{ lit.topic }}
                </ion-item>

              </ion-col>
              <ion-col width-10>
                <button ion-button (click)="deleteLiteratur(i)" outline small icon-right >
                  delete
                  <ion-icon name="ios-trash"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col width-100>
                <ion-item>
                  <ion-label>Order a product that is no Listed</ion-label>
                  <ion-input type="text" [(ngModel)]="contentFromModel.addionalInformationToOrder" name="addionalInformationToOrder"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </div>

          <div *ngSwitchCase="'end_use'">
            <ion-label>END USE</ion-label>
            <ion-row>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>others</ion-label>
                  <ion-input type="text" [(ngModel)]="contentFromModel.endUseOthers" name="EndUseOthers"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-label>END USE</ion-label>
            <ion-row>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>Friends</ion-label>
                  <ion-checkbox mode="ios" item-left [(ngModel)]="contentFromModel.radio" name="radio_1"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col width-25>
                <ion-item>
                  <ion-label>others</ion-label>
                  <ion-input type="text" [(ngModel)]="contentFromModel.endUseOthers" name="EndUseOthers"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <div *ngSwitchCase="'author_date'">
            <ion-label>Author & Date</ion-label>
            <ion-row>
              <ion-col width-100>
                <ion-item>
                  <ion-label>Select your name</ion-label>
                  <ion-select [(ngModel)]="contentFromModel.authorName" name="selectAuthor" placeholder="Name,Surname">
                    <ion-option *ngFor="let auth of authors" >{{auth.name}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50 >
                <ion-item>
                  <ion-label>add a new Author</ion-label>
                  <ion-input type="text" [(ngModel)]="contentFromModel.authorName" name="authName"></ion-input>
                </ion-item>

              </ion-col>
              <ion-col width-50>
                <ion-item>
                  <ion-label>E-Mail</ion-label>
                  <ion-input type="text"  [(ngModel)]="contentFromModel.authorEmail" name="authEmail"></ion-input>
                </ion-item>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Date</ion-label>
                  <ion-datetime displayFormat="MMMM,DD,YYYY" [(ngModel)]="contentFromModel.date" name="date"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>


        </div>
      </form>







    </ion-row>
    <div class="margin-20">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{contentFromModel | json}}</pre>
      <pre>form value: <br>{{myForm | json}}</pre>
      <pre>form value: <br>{{model | json}}</pre>
    </div>
    <ion-row responsive-sm responsive-md  responsive-lg>
      <ion-col width-10 offset-75>
        <button ion-button outline icon-right>
          Save and Continue
          <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
