page-wood-furniture {
  .woodfurniture{
    color : #777;

    p{
      color : #777 !important;
    }

    .infotext{
      font-size : 1.8rem;
      margin-bottom: 40px;
    }

    .card{
      margin : 0;
    }
  }
}
