page-home {
  .home {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 15%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .carditem-title{
      color: #00abef;
      font-size: 16px;
      height: 50px;
      white-space: normal;
    }

    .linkarea{
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .linklist{
      .item{
        .label{
          white-space: normal;
          color: #333;
          margin: 4px 8px 4px 0 !important;
          font-size: 14px !important;
          text-transform: lowercase;
        }
      }
    }


  }
  /**
  .card-items{
   background-color: transparent;

  }
  .card-list{
    border:0px;

  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom:0px;
  }
  .ion-content-background{

    width: 100%;
    background-size: 100% 100%;
    background-image: url("./../assets/img/test.png");

  } **/
}
