<ion-menu type="push"  [content]="content" swipeEnabled="true">

  <ion-content class="outer-content">


    <!-- NEWS -->
    <ion-list>
      <ion-list-header>
        News
      </ion-list-header>
      <button ion-item *ngFor="let L1 of MenuPages1" (click)="openPage(L1)">
        <label>{{L1.title}} </label>
      </button>
    </ion-list><!-- END NEWS -->



    <!-- START SOMETHING NEW -->
    <ion-list>
      <ion-list-header>
        Start something new
      </ion-list-header>
      <button ion-item *ngFor="let L1 of MenuPages2" (click)="openPage(L1)">
        <label>{{L1.title}} </label>
      </button>
    </ion-list><!-- END START SOMETHING NEW -->



    <!-- MARKETS -->
    <ion-list>
      <!--ion-list-header>
        Markets
      </ion-list-header-->
    <ion-item-divider>
      Item Divider
    </ion-item-divider>
      <button ion-item *ngFor="let L1 of MenuPages3" (click)="openPage(L1)">
        <label>{{L1.title}} </label>
      </button>
    </ion-list><!-- END MARKETS -->



    <!-- PRODUCT GROUPS -->
    <ion-list>
      <ion-list-header>
        Product Groups
      </ion-list-header>
      <button ion-item *ngFor="let L1 of MenuPages4" (click)="openPage(L1)">
        <label>{{L1.title}} </label>
      </button>
    </ion-list><!-- END PRODUCT GROUPS -->



    <!-- PRODUCTS & SOLUTIONS -->
    <ion-list>
      <ion-list-header>
        Products & Solutions
      </ion-list-header>
      <button ion-item *ngFor="let L1 of MenuPages4" (click)="openPage(L1)">
        <label>{{L1.title}} </label>
      </button>
    </ion-list><!-- PRODUCT & SOLUTIONS -->


  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>
